.home-container {
  margin: 0 auto;
  text-align: center;
  height: 25%;
}

.hero {
  padding: 40px 0;
  background-color: #f4f4f4;
  border-radius: 8px;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

.content {
  margin-top: 40px;
}

.content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}
