<div class="chat-wrapper">
  <div class="left-panel">
    <div class="chat-messages" #scrollContainer>
      <div *ngFor="let msg of mensajes$ | async" [ngClass]="{'misMensajes': msg.remitenteId === usuario?.uid, 'susMensajes': msg.remitenteId !== usuario?.uid}">
        <p>{{ msg.texto }}</p>
      </div>
    </div>

    <div class="chat-write">
      <input type="text" placeholder="Escribe un mensaje..." [(ngModel)]="nuevoMensaje" (keydown.enter)="enviarMensaje()" />
      <button (click)="enviarMensaje()">Enviar</button>
    </div>
  </div>
</div>