<div class="chat-wrapper">
    <div class="left-panel">
        <div class="chat-messages">
            <div class="susMensajes">
                <p>Mensaje</p>
            </div>
            <div class="misMensajes">
                <p>Mensaje</p>
            </div>
        </div>

    <div class="chat-write">
      <input type="text" placeholder="Escribe un mensaje..." />
      <button>Enviar</button>
    </div>
  </div>

  <div class="right-panel">
    <div class="product">
        <img src="" alt="">
        <h4>Titulo del producto</h4>
        <p>Descripción breve</p>
        <span>Precio</span>
    </div>
  </div>
</div>