<div class="login-wrapper">
  <div class="login-card">
    <div class="left-panel">
      <h2>¡Bienvenido!</h2>
      <p>Crea tu cuenta<br />¡Gratis!</p>
      <button class="signup-btn">Registrarse</button>
    </div>
    <div class="right-panel">
      <h3>Login</h3>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="username">Usuario<span class="required">*</span></label>
        <input type="text" id="username" formControlName="username" placeholder="Username or Email" />

        <label for="password">Contraseña<span class="required">*</span></label>
        <input type="password" id="password" formControlName="password" placeholder="Password" />
        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button type="submit" [disabled]="loginForm.invalid" class="signin-btn">Iniciar sesión</button>
        <a class="forgot-link" href="#">¿Olvidaste tu contraseña?</a>
      </form>
    </div>
  </div>
</div>