<div class="producto-container">
  <h2>Productos disponibles</h2>

  <input
    type="text"
    placeholder="Buscar por nombre o categoría"
    [(ngModel)]="filtro"
    class="input-busqueda"
  />

  <div class="lista-productos">
    <div
      *ngFor="let producto of productos | filtroProducto:filtro"
      class="card-producto"
      (click)="verProducto(producto.id)"
    >
      <img [src]="producto.imagen" alt="{{ producto.nombre }}" />
      <div>
        <h3>{{ producto.nombre }}</h3>
        <p>{{ producto.descripcion }}</p>
        <p><strong>${{ producto.precioARS }}</strong></p>
      </div>
    </div>
  </div>
</div>