<div class="producto-dashboard">
  <div class="dashboard-header">
    <h2>Gestionar <strong>Productos</strong></h2>
  </div>

  <div class="formulario">
    <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()">
      <div class="form-row">
        <input formControlName="nombre" placeholder="Nombre" />
        <input formControlName="descripcion" placeholder="Descripción" />
        <input formControlName="precio" type="number" placeholder="Precio ARS" />
      </div>
      <div class="form-row">
        <input formControlName="categoria" placeholder="Categoría" />
        <label class="custom-file-upload">
          📁 Subir Imagen
          <input type="file" (change)="cargarImagen($event)" hidden />
        </label>
        <button type="submit" class="btn agregar">
          {{ modoEdicion ? 'Actualizar' : '➕ Agregar nuevo Producto' }}
        </button>
      </div>
    </form>
  </div>

  <div class="filtro">
    <input type="text" [(ngModel)]="filtroTexto" placeholder="Buscar por nombre o categoría..." />
  </div>

  <table class="tabla">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio ARS</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos | filtroProducto: filtroTexto">
        <td><img [src]="producto.imagen" alt="{{producto.nombre}}" /></td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.categoria }}</td>
        <td>${{ producto.precio }}</td>
        <td>
          <button class="editar" (click)="editarProducto(producto)">✏️</button>
          <button class="eliminar" (click)="eliminarProducto(producto.id)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>