<div class="producto-container">

  <h2>Gestión de Productos</h2>

  <div class="formulario-producto">
    <form [formGroup]="productoForm" (ngSubmit)="guardarProducto()">
      <input formControlName="nombre" placeholder="Nombre" />
      <input formControlName="descripcion" placeholder="Descripción" />
      <input formControlName="precioARS" type="number" placeholder="Precio ARS" />
      <input formControlName="categoria" placeholder="Categoría" />
      <input formControlName="imagen" placeholder="URL Imagen" />
      <button type="submit">{{ modoEdicion ? 'Actualizar' : 'Agregar' }}</button>
    </form>
  </div>

  <div class="filtro">
    <input type="text" [(ngModel)]="filtroTexto" placeholder="Buscar por nombre o categoría..." />
  </div>

  <table class="tabla-productos">
    <thead>
      <tr>
        <th>Imagen</th>
        <th>Nombre</th>
        <th>Categoría</th>
        <th>Precio ARS</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of productos | filtroProducto: filtroTexto">
        <td><img [src]="producto.imagen" alt="{{producto.nombre}}"></td>
        <td>{{ producto.nombre }}</td>
        <td>{{ producto.categoria }}</td>
        <td>${{ producto.precio }}</td>
        <td>
          <button (click)="editarProducto(producto)">Editar</button>
          <button class="eliminar" (click)="eliminarProducto(producto.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
