<div class="login-wrapper"> 
  <div class="login-card">
    <div class="left-panel">
      <h2>¡Bienvenido!</h2>
      <p>¡Crea tu cuenta y logueate!<br />¡Gratis!</p>
    </div>
    <div class="right-panel">
      <h3>Registro</h3>
      <form [formGroup]="formularioRegistro" (ngSubmit)="registrar()">
        <label for="usuario">Usuario <span class="required">*</span></label>
        <input type="text" id="usuario" formControlName="usuario" placeholder="Escribí tu usuario" />

        <label for="contraseña">Contraseña <span class="required">*</span></label>
        <input type="password" id="contraseña" formControlName="contraseña" placeholder="Escribí tu contraseña" />

        <div *ngIf="mensajeError" class="error-message">{{ mensajeError }}</div>
        <button type="submit" [disabled]="formularioRegistro.invalid" class="signin-btn">Registrarse</button>

        
      </form>
    </div>
  </div>
</div>
