<div class="login-wrapper"> 
  <div class="login-card">
    <div class="left-panel">
      <h2>¡Bienvenido!</h2>
      <p>¡Crea tu cuenta y logueate!<br />¡Gratis!</p>
    </div>
    <div class="right-panel">
      <h3>Registro</h3>
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <label for="username">Usuario<span class="required">*</span></label>
        <input type="text" id="username" formControlName="username" placeholder="Username or Email" />

        <label for="password">Contraseña<span class="required">*</span></label>
        <input type="password" id="password" formControlName="password" placeholder="Password" />

        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
        <button type="submit" [disabled]="signUpForm.invalid" class="signin-btn">Registrarse</button>
      </form>
    </div>
  </div>
</div>
